<h2>New Section</h2>
{{input value=heap.title}}
{{input value=heap.body}}
{{input value=heap.order}}
{{input value=heap.lat}}
{{input value=heap.long}}
<button {{action "createSection"}}>Create</button>
{{outlet}}
