<div class="col-xs-8 content">
  <div class="form-group">
    <label>Title</label>
    {{input value=content.title class="form-control"}}
  </div>

  <div class="form-group">
    <label>Abbreviation</label>
    {{input value=content.abbreviation class="form-control"}}
  </div>

  <div class="form-group">
    <label>Body</label>
    {{textarea value=content.body rows="20" class="form-control"}}
  </div>

  <div class="form-group">
    <label>Order</label>
    {{input value=content.order class="form-control"}}
  </div>

  <div class="form-group">
    <label>Latitude</label>
    {{input value=content.lat class="form-control"}}
  </div>

  <div class="form-group">
    <label>Longitude</label>
    {{input value=content.long class="form-control"}}
  </div>

  <div class="form-group">
    <label>Zoom</label>
    {{input value=content.zoom class="form-control"}}
  </div>

  <button class="btn btn-primary" {{action "save"}}>Save</button>
  {{#link-to "sections" class="btn btn-link"}}Back{{/link-to}}
</div>
