{{#if isEditting}}
  {{input placeholder="Title" value=section.title}}
  {{input placeholder="Body" value=section.body}}
  {{input placeholder="Order" value=section.order}}
  {{input placeholder="Latitude" value=section.lat}}
  {{input placeholder="Longitude" value=section.long}}
  {{input placeholder="Zoom" value=section.zoom}}
{{/if}}

<h2>{{section.title}}</h2>
<p>
  {{markdown-to-html markdown=section.body}}
</p>

<button class="btn btn-default" {{action "edit"}}>Edit</button>
